/__mocks__
/__tests__
/.github
/.husky
/.vscode
/coverage
/scripts
/src
/.yarn
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitignore
/.prettierignore
/.prettierrc.json
/.yarn
/.yarnrc.yml
/git-hook-tasks.config.json
/jest.config.js
/tsconfig.json
/yarn-error.log
/index.html
/yarn-error.log
/.prettierrc.mjs