._adw_hidden {
    display: none;
}

._adw_col {
    flex-direction: column;
}

adw-switch {
    display: flex;
}

@media (prefers-reduced-motion: reduce) {
    .switch .switch-knob {
        transition: none;
    }
}
