g-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
  margin-right: 0.3em;
  touch-action: none;
}

g-slider .g_slider {
  flex: 1;
  position: relative;
  min-height: 1em;
}

g-slider .g_slider > .slider-track {
  position: absolute;
  top: 0.3em;
  left: 0px;
  right: 0px;
}

g-slider .g_slider > .slider-progress {
  position: absolute;
  top: 0.3em;
  left: 0px;
  right: 100%;
}

g-slider .g_slider > .slider-thumb {
  position: absolute;
  top: 0.1em;
  left: calc(0% - 0.3em);
}
